* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(90, 56, 56);
    color: white;
    text-align: center;
    font-family: Cinzel;
    padding: 30px;
    transition: 0.3s;
}